<button class="menu-icon" matIconButton [matMenuTriggerFor]="menu" aria-label="Basic menu">
  <mat-icon>account_circle</mat-icon>
</button>

<!-- menu options -->
<mat-menu #menu="matMenu">
  <!-- toggle light/darkmode -->
  <button (click)="toggleLightDarkTheme()" mat-menu-item>
    <mat-icon>brightness_5</mat-icon>
    <span>Modus</span>
  </button>
  @if(!this.isAuthenticated()){
  <!-- login -->
  <button (click)="openModalAuthentication(AuthenticationOptions.login)" mat-menu-item>
    <mat-icon>login</mat-icon>
    <span>Anmelden</span>
  </button>
  <!-- signin -->
  <button (click)="openModalAuthentication(AuthenticationOptions.signin)" mat-menu-item>
    <mat-icon>person_add</mat-icon>
    <span>Registrieren</span>
  </button>

  } @else {
  <!-- logout -->
  <button (click)="logout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Abmelden</span>
  </button>
  }
</mat-menu>
