:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--var-spacing-8) calc(100% / 5) var(--var-spacing-8);

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--var-spacing-8);
    padding: var(--var-spacing-8);
    background: var(--mat-sys-surface-container-lowest);
    border-radius: var(--mat-sys-corner-large);
    box-shadow: 0 var(--shadow-size-medium) var(--box-shadow-medium);

    article {
      display: flex;
      flex-direction: column;
      gap: var(--var-spacing-3);

      h2 {
        color: var(--mat-sys-primary);
      }

      p {
        line-height: 1.6;
      }
    }
  }
}
