<div class="content-wrapper">
  <h1>Über Mich</h1>
  <article>
    <!-- Section about me -->
    <h2>Vorstellung</h2>
    <p>Ich bin Chuck Norris, ein Kampfsportler und Schauspieler. Vor allem aber, wurde ich für meine Rollen in Actionfilmen bekannt.</p>
    <p>Die "Chuck Norris Facts" wurden populär, weil sie meine Actionhelden-Persönlichkeit humorvoll übertrieben und im Internet viral verbreitet wurden.</p>
  </article>

  <!-- Section martial arts -->
  <article>
    <h2>Kampfkünste</h2>
    <p>Ich habe mehrere Kampfstile trainiert, darunter Karate, Taekwondo und Brazilian Jiu-Jitsu.</p>
  </article>
</div>
