:host {
  app-generation-card {
    .container-content {
      display: flex;
      width: 100%;
    }
    .container-action {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--var-spacing-2);
      > button {
        margin-top: var(--var-spacing-5);
      }
    }
  }
}
