<app-generation-card cardTitle="Chuck's Witze 💬">
  <ng-container generation-card-content>
    <!-- Card content -->
    <div class="container-content">
      <p>{{jokeDisplayed}}</p>
    </div>
  </ng-container>
  <!-- Card buttons -->
  <ng-container generation-card-action>
    <div class="container-action">
      <button (click)="fetchNewJoke();" matButton>
        <p>NEU</p>
        <mat-icon>autorenew</mat-icon>
      </button>

      <button (click)="favouriseChucksJoke()" matButton>
        <p>FAVORISIEREN</p>
        <mat-icon>star</mat-icon>
      </button>
    </div>
  </ng-container>
</app-generation-card>
