@use "@angular/material" as mat;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Anchor
a {
  color: var(--mat-sys-on-background);
  text-decoration: none;
}
