@use '@angular/material' as mat;
@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

p {
  font-size: var(--var-size-3);
  font-weight: 400;
}

h1 {
  font-size: var(--var-size-7);
  font-weight: 500;
}

h2 {
  font-size: var(--var-size-6);
  font-weight: 400;
}
