:host {
  position: relative;
  height: inherit;
  width: inherit;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  align-items: center;
  padding-top: var(--var-page-padding);
  scroll-behavior: smooth;
}
