:host {
  > mat-card {
    cursor: pointer;
    box-shadow: 0 var(--shadow-size-light) var(--box-shadow-medium);
    border: none;
    background: var(--mat-sys-surface-container-lowest);
    padding: var(--var-spacing-9) var(--var-spacing-5);
    overflow-x: auto;

    mat-card-title h1 {
      margin-bottom: var(--var-spacing-7);
    }
  }
}
