:host {
  > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 200px;
    text-align: center;
    align-items: center;
    a {
      text-decoration: none;
      h1 {
        color: var(--mat-sys-on-primary-container);
        font-size: var(--var-size-4);
      }
    }
  }
}
