:host {
  > nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 200px;
    text-align: center;
    align-items: center;
  }

  h1 {
    font-size: var(--var-size-7);
    font-weight: 500;
    color: var(--mat-sys-on-primary-container);
  }
}
