@use '@angular/material' as mat;

:host {
  width: inherit;
  min-height: var(--var-size-14);
  user-select: none;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--var-spacing-4);
    min-height: var(--var-size-14);
    background: var(--mat-sys-surface-bright);
    box-shadow: 0 1px var(--box-shadow-light);

    > .logo {
      position: relative;
      display: flex;
      height: var(--var-size-11);
      img {
        height: 100%;
      }

      app-chat-bubble {
        display: none;
      }

      &:hover {
        app-chat-bubble {
          display: flex;
        }
      }
    }

    > app-menu {
      margin-right: var(--var-spacing-4);
    }
  }
}
