@use '@angular/material' as mat;

:host {
  width: inherit;
  min-height: var(--var-size-14);
  overflow: hidden;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: var(--var-spacing-2) 0 var(--var-spacing-4) var(--var-spacing-4);
    background: var(--mat-sys-primary-container);

    > .logo {
      display: flex;
      height: var(--var-size-12);
      img {
        height: 100%;
      }
    }

    > app-menu {
      margin-right: var(--var-spacing-4);
    }
  }
}
