:host {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--var-spacing-3);
  background: var(--mat-sys-secondary);

  p {
    color: var(--mat-sys-on-secondary);
    font-weight: 400;
  }
}
