:host {
  width: inherit;
  height: var(--var-footer-height);
  display: flex;
  justify-content: space-evenly;
  padding: var(--var-spacing-3) var(--var-spacing-9);
  box-shadow: 0 -0.5px var(--box-shadow-light);
  align-items: center;
  user-select: none;

  .container-left {
    .headline {
      font-weight: 600;
      color: var(--mat-sys-on-secondary-container);
      font-size: var(--var-size-1);
    }
  }
}
