:host {
  width: inherit;
  display: flex;
  flex-direction: row;
  padding: 0 var(--var-spacing-10) calc(100% / 4) var(--var-spacing-10);
  // gap: calc(0.5 * var(--var-spacing-9));

  .container-left,
  .container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--var-spacing-4);
  }

  .container-left {
    align-items: end;
    .container-right-alignment {
      text-align: left;
      gap: var(--var-spacing-4);
      .section-top {
        width: calc(5.5 * var(--var-size-15));
        // height: calc(1.8 * var(--var-size-15));
        > h1 {
          padding-bottom: var(--var-spacing-5);
        }
        > p {
          padding-bottom: var(--var-spacing-3);
        }

        * {
          opacity: 0;
        }
      }
    }
  }

  .container-right {
    align-items: center;
    figure {
      width: calc(4 * var(--var-size-15));
      border-radius: var(--mat-sys-corner-large);
      img {
        width: inherit;
        border-radius: var(--mat-sys-corner-large);
        box-shadow: 0 var(--shadow-size-medium) var(--box-shadow-medium);
      }
      figcaption {
        padding: var(--var-spacing-2) var(--var-spacing-7);
        font-size: small;
        text-align: center;
        p {
          color: var(--mat-sys-primary);
          text-decoration: underline;
        }
      }
    }
  }
}
