:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--var-spacing-6);

  table {
    img {
      margin: var(--var-spacing-6);
      height: calc(2 * var(--var-size-15));
    }
  }

  .button-refresh {
    width: calc(3 * var(--var-size-15));
  }
}
