:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--var-spacing-6);
  padding-bottom: var(--var-spacing-6);

  .table-background {
    width: inherit;
    padding: var(--var-spacing-4);
    border-radius: var(--mat-sys-corner-large);
    box-shadow: 0 var(--shadow-size-light) var(--box-shadow-medium);
    table {
      img {
        margin: var(--var-spacing-6);
        height: calc(2 * var(--var-size-15));
      }
      .button-delete-row {
        margin: var(--var-spacing-3) 0;
      }
    }
  }
}
